@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Four Containers Example</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>

    <h1 class="country-title">Top 10 Customers In Each Country</h1>

    <div class="boxWithFourBoxes">
        <div class="box-of-content">
            <a href="page1.cshtml"><img src="image1.jpg"></a>
        </div>
        <div class="box-of-content">
            <a href="page2.cshtml"><img src="image2.jpg"></a>
        </div>
        <div class="box-of-content">
            <a href="page3.cshtml"><img src="image3.jpg"></a>
        </div>
        <div class="box-of-content">
            <a href="page4.cshtml"><img src="image4.jpg"></a>
        </div>
    </div>


    <div class="rowWithCols">


        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-white" scope="col">Sweden</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Model.Countries.Where(c => c.Country == "Sweden"))
                {
                    <tr class="d-block">
                        <td class="text-white">@country.Id</td>
                        <td class="text-white">@country.Balance</td>
                        <td class="text-white">@country.Country</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-white" scope="col">Norway</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Model.Countries.Where(c => c.Country == "Norway"))
                {
                    <tr class="d-block">
                        <td class="text-white">@country.Id</td>
                        <td class="text-white">@country.Balance</td>
                        <td class="text-white">@country.Country</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-white" scope="col">Denmark</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Model.Countries.Where(c => c.Country == "Denmark"))
                {
                    <tr class="d-block">
                        <td class="text-white">@country.Id</td>
                        <td class="text-white">@country.Balance</td>
                        <td class="text-white">@country.Country</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-white" scope="col">Finland</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Model.Countries.Where(c => c.Country == "Finland"))
                {
                    <tr class="d-block">
                        <td class="text-white">@country.Id</td>
                        <td class="text-white">@country.Balance</td>
                        <td class="text-white">@country.Country</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

