@page
@using Assignment_WebBank.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Welcome To Bank Of Scandinavia</h1>
            <h2>We are here to help You with the financial parts of life</h2>
            <a href="/" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- End Hero -->

    <div class="container" style="margin-bottom: 80px; margin-top: 80px;">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card text-center" style="background: #141414; border: none;">
                    <a href="#"><img src="~/img/flags/sweden-flag-removebg-preview.png" class="card-img-top" style="height: 200px; width: 200px;"></a>

                    <a asp-page="/ViewModels/SwedenView"
                       asp-route-country="Sweden"
                       
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>


                    <div class="card-body">
                        @foreach (var country in Model.TotBalanceTotAccountCountry.Where(c => c.Country == "Sweden"))
                        {
                            <div class="card-text text-white"><i class="fas fa-globe-americas mr-2" style="margin-right: 5px;"></i>@country.Country</div>
                            <div class="card-text text-white"><i class="fas fa-users mr-2" style="margin-right: 5px;"></i>@country.AccountCount Customers</div>
                            <div class="card-text text-white"><i class="fas fa-money-bill mr-2" style="margin-right: 5px;"></i>@country.TotalBalance :-</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="background: #141414; border: none;">
                    <a href="#"><img src="~/img/flags/norway-flag.png" class="card-img-top" style="height: 200px; width: 200px;"></a>
                    <div class="card-body">
                        @foreach (var country in Model.TotBalanceTotAccountCountry.Where(c => c.Country == "Norway"))
                        {
                            <div class="card-text text-white"><i class="fas fa-globe-americas mr-2" style="margin-right: 5px;"></i>@country.Country</div>
                            <div class="card-text text-white"><i class="fas fa-users mr-2" style="margin-right: 5px;"></i>@country.AccountCount Customers</div>
                            <div class="card-text text-white"><i class="fas fa-money-bill mr-2" style="margin-right: 5px;"></i>@country.TotalBalance :-</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="background: #141414; border: none;">
                    <a href="#"><img src="~/img/flags/denmark-flag-org-removebg-preview.png" class="card-img-top" style="height: 200px; width: 200px;"></a>
                    <div class="card-body">
                        @foreach (var country in Model.TotBalanceTotAccountCountry.Where(c => c.Country == "Denmark"))
                        {
                            <div class="card-text text-white"><i class="fas fa-globe-americas mr-2" style="margin-right: 5px;"></i>@country.Country</div>
                            <div class="card-text text-white"><i class="fas fa-users mr-2" style="margin-right: 5px;"></i>@country.AccountCount Customers</div>
                            <div class="card-text text-white"><i class="fas fa-money-bill mr-2" style="margin-right: 5px;"></i>@country.TotalBalance :-</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="background: #141414; border: none;">
                    <a href="#"><img src="~/img/flags/finland-flag-org-removebg-preview.png" class="card-img-top" style="height: 200px; width: 200px;"></a>
                    <div class="card-body">
                        @foreach (var country in Model.TotBalanceTotAccountCountry.Where(c => c.Country == "Finland"))
                        {
                            <div class="card-text text-white"><i class="fas fa-globe-americas mr-2" style="margin-right: 5px;"></i>@country.Country</div>
                            <div class="card-text text-white"><i class="fas fa-users mr-2" style="margin-right: 5px;"></i>@country.AccountCount Customers</div>
                            <div class="card-text text-white"><i class="fas fa-money-bill mr-2" style="margin-right: 5px;"></i>@country.TotalBalance :-</div>
                        }
                    </div>
                </div>
            </div>
            <!-- Repeat the above card 3 more times for the other countries -->
        </div>
    </div>


