@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1 class="text-white">Top 10 Customers In Each Country</h1>

<div class="d-flex align-items-center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Sweden</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.Countries.Where(c => c.Country == "Sweden"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Norway</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.Countries.Where(c => c.Country == "Norway"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Denmark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.Countries.Where(c => c.Country == "Denmark"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Finland</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.Countries.Where(c => c.Country == "Finland"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>
</div>