@page
@using Assignment_WebBank
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>Transactions</h1>

@if (Model.Transactions != null && Model.Transactions.Rows.Count > 0)
{
    <table border="1" id="transactionsTable">
        <tr>
            <th>TransactionId</th>
            <th>AccountId</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        @foreach (System.Data.DataRow row in Model.Transactions.Rows)
        {
            <tr>
                <td>@row["TransactionId"]</td>
                <td>@row["AccountId"]</td>
                <td>@row["Date"]</td>
                <td>@row["Type"]</td>
                <td>@row["Amount"]</td>
                <td>@row["Balance"]</td>
            </tr>
        }
    </table>
}
else
{
    <p>No transactions found.</p>
}


<div style="padding-top: 500px;">
    <div class="container d-flex justify-content-center">
        <h1 style="color: white;">Our CEO's</h1>
    </div>
    <div class="container d-flex justify-content-between">
        @for (int i = 0; i < Model.Users.Count; i++)
        {
            var user = Model.Users[i];
            <div class="card" style="width: 14rem;">
                <img src="@user.picture.large" class="card-img-top" alt="User Picture">
                <div class="card-body">
                    <h5 class="card-title">@user.name.first @user.name.last</h5>
                    <p class="card-text">
                        Age: @user.dob.age <br>
                        Location: @user.location.city, @user.location.state, @user.location.country <br>
                       
                    </p>
                </div>
            </div>
        }

    </div>

</div>

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="footer-info">
                        <h3>Bank Of Scandinavia</h3>
                        <p>
                            Kung Gustavs Gata <br>
                            Stockholm 147 08, Sweden<br><br>
                            <strong>Phone:</strong>+46 55 555 55 55<br>
                            <strong>Email:</strong> info@bankscandinavia.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="https://www.linkedin.com/in/christoffer-sladin-a9aa64263/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a asp-page="/Index">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-page="/Sections/GeneralViews/About">About us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Bank Of Scandinavia</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>


