@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Welcome To Bank Of Scandinavia</h1>
        <h2>we are here to help you with the financial parts of life</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->

<h1 class="text-white">Top 10 Customers In Each Country</h1>

<div class="d-flex align-items-center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Sweden</th>
            </tr>
        </thead>


        <tbody>


            @foreach (var country in Model.Countries.Where(c => c.Country == "Sweden"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Norway</th>
            </tr>
        </thead>


        <tbody>


            @foreach (var country in Model.Countries.Where(c => c.Country == "Norway"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Denmark</th>
            </tr>
        </thead>


        <tbody>


            @foreach (var country in Model.Countries.Where(c => c.Country == "Denmark"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-white" scope="col">Finland</th>
            </tr>
        </thead>


        <tbody>


            @foreach (var country in Model.Countries.Where(c => c.Country == "Finland"))
            {
                <tr class="d-block">
                    <td class="text-white">@country.Id</td>
                    <td class="text-white">@country.Balance</td>
                    <td class="text-white">@country.Country</td>
                </tr>
            }
        </tbody>
    </table>

</div>