@using BankLibrary.ViewModels;
@model List<UserVM>
@{
    string headerText = ViewData["HeaderText"]?.ToString() ?? "Header";
    string buttonText = ViewData["ButtonText"]?.ToString() ?? "Button";
    string redirectUrl = ViewData["RedirectUrl"]?.ToString() ?? "#";
    string action = ViewData["Action"]?.ToString() ?? "";
}
<div class="container">
    <div class="d-flex justify-content-center py-3">
        <h1 style="color: #cc1616;">@headerText User</h1>
    </div>

    <div class="red-line">
        <div style="background:#cc1616; height: 1px; width: 400px; justify-self: center;"></div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn-lines" asp-page="/Index">Back</a>
    </div>

    <div class="d-flex justify-content-center py-5" data-aos="fade-up">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Email Confirmed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.EmailConfirmed</td>
                        <td>
                            @if(action == "Delete")
                            {
                                <a asp-page="/Sections/CRUDviews/User/DeleteView" asp-route-userId="@user.UserId" class="btn-lines">@buttonText</a>
                            }
                            @if (action == "Update")
                            {
                                <a asp-page="/Sections/CRUDviews/User/UpdateView" asp-route-userId="@user.UserId" class="btn-lines">@buttonText</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
