@page
@model Assignment_WebBank.Pages.ViewModels.AccountViews.TransactionViewModel
@{
    var totalTrans = 0;
    @foreach (var tran in Model.Transactions)
    {
        totalTrans++;
    }
}

<div class="card">
    <!-- Dropdown for selecting number of transactions to show per page -->
    <div class="card-header">
        <h1 class="d-flex justify-content-center">Total Transactions: @totalTrans</h1>
        <h3 class="d-flex justify-content-center m-5">History</h3>

        <div class="d-flex justify-content-center">
            <a asp-page="/ViewModels/CustomerViews/CustomerCardView" asp-route-customerId="@Model.Customer.CustomerId" class="btn-lines">BACK</a>
        </div>
        <div class="d-flex justify-content-center">
            <div style="width: 150px;">
                
                
            </div>
        </div>
        
    </div>
    <div class="card-body" data-aos="fade-up">
        <table class="table">
            <tr style="color: #cc1616; font-size: 25px;">
                <th>Transaction Id</th>
                <th>Date</th>
                <th>Balance</th>
                <th>Operation</th>
                <th>Amount</th>
                <th>
                    <select style="background-color: #cc1616; font-size: 16px !important;" id="transactionsPerPage" onchange="changeTransactionsPerPage(this.value)">

                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="-1" selected>Latest</option>
                    </select>
                </th>
            </tr>

            @foreach (var acc in Model.Transactions.Take(Model.TransactionsPerPage))
            {
                <tr style="color: white">
                    <td>@acc.TransactionId</td>
                    <td>@acc.Date</td>
                    <td>@acc.Balance</td>
                    <td>@acc.Operation</td>
                    @if (acc.Amount.ToString().Contains("-"))
                    {
                        <td style="color: red;">@acc.Amount</td>
                    }
                    else
                    {
                        <td style="color: lawngreen;">@acc.Amount</td>
                    }
                    <td></td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts{
    <!-- JavaScript function to handle dropdown change event -->
    <script>
        function changeTransactionsPerPage(value) {
            window.location.href = '@Url.Page("/ViewModels/AccountViews/TransactionViewModel")?accountId=@Model.AccountId&customerId=@Model.Customer.CustomerId&amount=@Model.Amount&transactionsPerPage=' + value;
        }
    </script>
}


