@page
@model Assignment_WebBank.Pages.ViewModels.AccountViews.TransactionViewModel
@{
    var totalTrans = 0;
    @foreach (var tran in Model.Transactions)
    {
        totalTrans++;
    }
}

<div class="card">
    <div class="card-header">
        <h1 class="d-flex justify-content-center">Total Transactions: @totalTrans</h1>
        <h3 class="d-flex justify-content-center m-5">History</h3>
        
        <div class="d-flex justify-content-center"><a asp-page="/ViewModels/CustomerViews/CustomerCardView" asp-route-customerId="@Model.Customer.CustomerId" class="btn-lines">BACK</a></div>
        
    </div>
    <div class="card-body" data-aos="fade-up">
        <table class="table">
            <tr style="color: #cc1616;">
                <th>Date</th>
                <th>Transaction Id</th>
                <th>Operation</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
            @foreach (var acc in Model.Transactions)
            {
                <tr style="color: white;">
                    <td>@acc.Date</td>
                    <td>@acc.TransactionId</td>
                    <td>@acc.Operation</td>
                    @if (acc.Amount.ToString().Contains("-"))
                    {
                        <td style="color: red;">@acc.Amount</td>
                    }
                    else
                    {
                        <td style="color: lawngreen;">@acc.Amount</td>
                    }
                    
                    <td>@acc.Balance</td>
                </tr>
            }
        </table>
    </div>
</div>

