@page
@using Assignment_WebBank.Model
@model Assignment_WebBank.Pages.ViewModels.CustomerViewModel
@{  
}
<h1 class="d-flex justify-content-center" style="padding-top: 30px;">Customers</h1>

<div @*data-aos="fade-up"*@>

    <div class="d-flex justify-content-center" style="padding-top: 30px; padding-bottom: 30px;">
        <form method="get">
            <input asp-for="@Model.Q" />
            <input type="hidden" asp-for="@Model.CustomerId" />
            <input type="submit" value="Search" class="redbuttonhover" />
        </form>
    </div>


    <table class="table table-#141414" style="color: white;">
        <thead>
            <tr>
                <th>
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="Id"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    ID
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="Id"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th>
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="Name"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    Name
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="Name"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th>
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="Country"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    Country
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="Country"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th>
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="City"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    City
                    <a asp-page="/ViewModels/CustomerView"
                       asp-route-sortColumn="City"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Customers != null)
            {
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.Name</td>
                        <td>@customer.Country</td>
                        <td>@customer.City</td>
                        <td><a asp-page="/ViewModels/CustomerCardView" asp-route-customerId="@customer.CustomerId" class="btn-lines">View Details</a></td>
                    </tr>
                }

                <tr>
                    @if (Model.CurrentPage > 1)
                    {
                        <td>
                            <a class="btn btn-secondary"
                       asp-page="/ViewModels/CustomerView" asp-route-CustomerId="@Model.CustomerId"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPage-1)">
                                Prev
                            </a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td></td>
                    <td></td>
                    <td></td>
                    @if (Model.CurrentPage >= 0)
                    {
                        <td>
                            <a class="btn btn-secondary"
                       asp-page="/ViewModels/CustomerView" asp-route-CustomerId="@Model.CustomerId"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPage+1)">
                                Next
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <h3 style="display: flex; justify-content: center;">Page @(Model.CurrentPage)</h3>
</div>