@page
@using Assignment_WebBank.Model
@model Assignment_WebBank.Pages.ViewModels.CustomerViewModel
@{
    <h1 class="d-flex justify-content-center" style="padding-top: 30px;">Customers</h1>

    <table class="table table-#141414" style="color: white;">
        <thead>
            <tr>
                <th>
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="Id"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    ID
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="Id"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th>
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    Name
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th>
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="Country"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    Country
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="Country"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th>
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                    City
                    <a asp-page="/ViewModels/CustomerView"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </th>

                <th>
                Show Customer
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Customers != null)
            {
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.Name</td>
                        <td>@customer.Country</td>
                        <td>@customer.City</td>
                        <td><a asp-page="/ViewModel/SwedenView" asp-route-id="@customer.CustomerId" class="btn btn-danger" style="background-color: #cc1616;">View</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
