@page
@model Assignment_WebBank.Pages.ViewModels.SwedenViewModel
@{
}

<div>
    <h1 class="text-center my-5" style="padding-top: 80px; padding-bottom: 40px;">Sweden Top 10 Customers</h1>
</div>



<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>Personal Id</th>
            <th>Name</th>
            <th>Balance</th>
            <th>City</th>
            <th>Adress</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.SwedenAccounts)
        {
            <tr>
                <td>@a.PersonalNr</td>
                <td>@a.FirstName @a.LastName</td>
                <td>@a.Balance</td>
                <td>@a.City</td>
                <td>@a.Adress</td>
                <td></td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a asp-page="/Index" class="btn-lines">BACK</a></td>
            
        </tr>
    </tbody>
</table>