@page
@model Assignment_WebBank.Pages.ViewModels.TransactionViewModel
@{
    var totalTrans = 0;
    @foreach (var tran in Model.Transactions)
    {
        totalTrans++;
    }
}

<div class="card">
    <div class="card-header">
        <h1 >Total Transactions: @totalTrans</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr style="color: white;">
                <th>Date</th>
                <th>Transaction Id</th>
                <th>Operation</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Withdraw | Deposit</th>
            </tr>
            @foreach (var acc in Model.Transactions)
            {
                <tr style="color: white;">
                    <td>@acc.Date</td>
                    <td>@acc.TransactionId</td>
                    <td>@acc.Operation</td>
                    <td>@acc.Amount</td>
                    <td>@acc.Balance</td>
                    <td>
                        <a asp-page="/ViewModels/WithdrawView" asp-route-accountId="@acc.AccountId"><i class='bx bx-money-withdraw'></i></a>
                        <a asp-page="/ViewModels/DepositView" asp-route-accountId="@acc.AccountId"><i class='bx bx-plus-circle'></i></a>
                    </td>
                    

                </tr>
            }
        </table>
    </div>
</div>

